<li>

		
			
			
				{{burger_name}}



			{{#if devoured}}
			<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">Devour time!</button>
			{{else}}
			<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">Make a new burger!</button>
			{{/if}}
			
	
		

</li>